/*GENERAL*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
section{
    padding: 30px;
    padding-left: 75px;
    padding-right: 75px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p{
    margin: 0;
    color: #777777;
}


/*NAV BAR*/
#main-nav{
    font-family: 'Montserrat', sans-serif;
    margin:  0; 
    border-radius: 0;
    background-color: transparent;
    z-index: 999;
    border: 0;
    padding: 5px;

}
#main-nav.scroll{
    background-color: rgba(14, 216, 214,0.7);;
}
.navbar-default .navbar-brand{
    font-family: 'Droid Serif', serif;
}
.navbar-default .navbar-brand{
    font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
    color:white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover{
    color:#0ed8d6;
}
.navbar-default , .navbar-default .navbar-nav>li>a:hover{
    color: white;
}

/*WELCOME SECTION*/
#welcome-section{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) 100%), url("../bootstrap-project-photos/header/pictures_on_the_wall.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    
}
.welcome-section-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.welcome-section-position>h1{
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    color:white;
    margin: 30px;
}
.welcome-section-position>h2{
    font-family: 'Droid Serif', serif;
    font-size: 1.5em;
    color:white;
}
.welcome-section-position>button{
    background-color: #0ed8d6;
    color:white;
    font-family: 'Montserrat', sans-serif;
}